@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  /*  Colores principales */
  --color-primary: #a24df1;
  --color-primary-dark: #902de3;
  --color-secondary: #f6ecff;

  /*  Texto y fondos */
  --color-bg: #fdf7ff;
  --color-text: #333333;
  --color-text-light: #666666;

  /*  Accentos */
  --color-border: #e4e4e4;
  --color-highlight: #f18dc0;

  /*  Tipografía */
  --font-main: "Poppins", sans-serif;

  /*  Extras */
  --radius: 8px;
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  color: var(--color-primary-dark);
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  transition: var(--transition);
}

section {
  padding: 4rem 1rem;
}
