.titleAndSubtitle-content {
  width: 80%;
  text-wrap: wrap;
}

.titleAndSubtitle--center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.titleAndSubtitle--left {
  text-align: left;
  align-items: flex-start;
}

.titleAndSubtitle--right {
  text-align: right;
  align-items: flex-end;
}

.titleAndSubtitle-title {
  font-size: 2em;
  font-weight: 700;
  color: #000;
}

.titleAndSubtitle-subtitle {
  color: #a6a6a6;
  font-size: 1em;
}
