.team-member-card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 12px;
  background-color: var(--color-bg);
}

.team-member-card__image {
  width: 100%;
  height: 100%;
}

.team-member-card__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  padding-left: 7px;
}
