
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
}

.div2 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
}

.div4 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}

.div5 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 3;
}

.parent > div {
  background: var(--color-secondary);
  border-radius: var(--raadius);
  overflow: hidden;
}