.map-embed__container {
  /* width: 40%;
  height: 0;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 4rem;
  margin-top: 1.5rem;
  overflow: hidden; */
  position: relative;
  width: 50%;
  padding-bottom: 36.25%;
  height: 0;

  border-radius: 10px;
  overflow: hidden;
  margin-left: 4rem;
  margin-top: 1.5rem;
}

.map-embed__iframe {
  /* top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: 0; */

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border: 0;
}
