.hero {
  text-align: center;
  /* background: url(); */
}

.hero__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero__subtitle {
  font-size: 1.1rem;
  color: var(--color-text);
  max-width: 600px;
  margin: 0 auto 2rem;
}