.product-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--color-border);
  background: white;
  border-radius: 10px;
  padding: 15px;
}

.product-card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
